body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
  }
  
  .container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(110, 110, 110, 0.8); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-size: 32px;
    color: #f0f0f0;
    text-align: center;
  }
  
  .form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  label {
    font-weight: bold;
    color: #f0f0f0;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #5c4033;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'MedievalSharp', cursive;
  }
  
  button:hover {
    background-color: #3a271f;
  }
  
  .output {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: #f0f0f0;
  }
  
  .output li {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .output li:hover {
    background-color: #9b9b9b;
  }
  
  .backstory {
    background-color: #9b9b9b;
    border-radius: 5px;
    padding: 10px;
    max-height: 200px;
    overflow: auto;
    text-align: center;
  }
  
  .backstory h3 {
    margin-top: 0;
    color: #f0f0f0;
    font-size: 20px;
  }
  
  .backstory p {
    margin-bottom: 0;
    color: #f0f0f0;
    text-align: justify;
  }
  
  .footer {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
  